source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core
nuget Microsoft.Azure.Search
nuget TaskBuilder.fs

// Test dependencies
nuget Expecto
nuget Expecto.FsCheck
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk